

<style>
.button1 {
  background-color: rgb(87, 87, 87);
  border: none;
  color: pink;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 12px;
  float:  center;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color: rgb(87, 87, 87);
  border: none;
  color: pink;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  float:  center;
  margin: 4px 2px;
  cursor: pointer;
}

</style>


<h1 class="rainbow"><%=@user.username.capitalize%>'s Hotify Profile</h1>
<div>




<div>

</div>
<%if @user.playlists.length >0 %>
<%@user.playlists.each do |playlist|%>
<h3 class="rainbow">Playlist "<%=link_to "#{playlist.name}",playlist_path(playlist)%>"</h3>

<% if playlist.songs.length > 0 %>
<%= image_tag("#{playlist.songs.last.album_url}",  alt: "like", class: "like_image_for_index") %>
<% end %>

<h3>By: <%="#{@user.username}"%></h3>
<%end%>
<% end %>
<ul>

<%if session[:user_id] == @user.id%>
<h2>Your followers are</h2>
<% @followers.each do |follower| %>
  <p><%=link_to follwer.username.capitalize,user_path(follower)%></p>
<% end %>
​
<h2>You follow</h2>
<% @followees.each do |followee| %>
  <p><%=link_to followee.username.capitalize,user_path(followee)%></p>
<% end %>
​
<h2>You don't follow</h2>
<% @not_following.each do |user| %>
  <p><%=link_to user.username.capitalize,user_path(user)%></p> 
  <%= form_for user, url: { action: "follow" } do |f| %>
    <%= f.hidden_field :username %>
    <%= f.button "Follow", {class: "button2"}%>
  <% end %>
<% end %>
<% else %>
<% if @followees.length > 0 %>

<h2>They follow</h2>
<% @followees.each do |followee| %>
  <p><%=link_to followee.username.capitalize,user_path(followee)%></p>
<% end %>
<% end %>
<% end %>
<br><br><br><br>
<%if session[:user_id] == @user.id%>
<%= button_to "Edit #{@user.username.capitalize}'s Profile", edit_user_path(@user), method: 'get',class: "button1"%> 
<%= button_to "Delete #{@user.username.capitalize}'s Profile", @user , method: 'delete',class: "button1" %> 
<% end %>