<h1 class="rainbow"><%=@user.username.capitalize%>'s Hotify Profile</h1>
<div>
<%= button_to "Delete #{@user.username}",@user,method: 'delete'%> <br>
<%= button_to "Edit #{@user.username}",edit_user_path(@user),method: 'get'%>

</div>
<%@user.playlists.each do |playlist|%>
<h3>Playlist "<%=link_to "#{playlist.name}",playlist_path(playlist)%>"</h3>
<%= image_tag("#{playlist.songs.last.album_url}",  alt: "like", class: "like_image_for_index") %>
<h3>By: <%="#{@user.username}"%></h3>
<%end%>
<ul>


<h2>Your followers are</h2>
<% @followers.each do |follower| %>
  <p><%= follower.username %></p>
<% end %>
​
<h2>You follow</h2>
<% @followees.each do |followee| %>
  <p><%= followee.username %></p>
<% end %>
​
<h2>You don't follow</h2>
<% @not_following.each do |user| %>
  <p><%= user.username %></p> 
  <%= form_for user, url: { action: "follow" } do |f| %>
    <%= f.hidden_field :username %>
    <%= f.submit "Add Friend" %>
  <% end %>
<% end %>