<h1><%=@song.name%></h1>

<h2>Artist: <%=@song.artist%></h2>

<%= image_tag("#{@song.album_url}",  alt: "like", class: "like_image_for_index") %> <br>
<%if @song.song_preview != nil %>
<audio controls>
<source src=<%=@song.song_preview%> controls>
</audio>
<%else%>
<%end%>

<h2>Album: <%=@song.album%></h2>

<h3>Playlists With This Song</h3>

<ul>
<%@playlists.each do |playlist|%>
  <li><%= link_to "#{playlist.name} - #{playlist.user.username}", playlist %></li>
<% end %>
</ul>