

<h1>Create a New Playlist</h1>

<%= form_for @playlist do |f| %>
<%=f.label :name%>
<%=f.text_field :name %> <br>
<%=f.hidden_field :user_id, :value => session[:user_id] %> <br>
<%=f.submit "Create New Playlist"%>
  
<% end %>