<ul class="nav">
  <li><%= link_to 'Hotify Home', index_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'Search Songs', songs_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'View All Hotify Users', users_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'Create a User', new_user_path %></li>
  <%= render 'layouts/navigation_links' %>
   
  
</ul>

