<ul class="nav">
  <li><%= link_to 'Hotify Home', index_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'Search Songs', songs_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'View/Create Playlists', playlists_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'Create User', new_user_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'Hotify User Index', users_path %></li>
  <%= render 'layouts/navigation_links' %>
  
  
   
  
</ul>

